{{template "base" .}}

{{define "content"}}
{{$res := index .Data "reservation"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Reservation Summary</h1>
            <hr>

            <form action="/make-reservation" method="post">
                <table class="table table-striped">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{$res.Name}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{$res.Email}}</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>{{$res.Phone}}</td>
                    </tr>
                    
                        <td>Arrival:</td>
                        
                    </tr>
                    <tr>
                        <td>Departure:</td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
</div>
{{end}}